<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log In</title>
    <link rel="icon" type="image/svg+xml" href="https://upload.wikimedia.org/wikipedia/commons/e/ee/UN_emblem_blue.svg">
    <link rel="icon" type="image/png" sizes="32x32" href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/UN_emblem_blue.svg/32px-UN_emblem_blue.svg.png">
    <link rel="apple-touch-icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/UN_emblem_blue.svg/180px-UN_emblem_blue.svg.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body class="login-body">
    <div class="login-form">
        <div class="login-header">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/UN_emblem_blue.svg" alt="UN" width="36" height="36">
            <h1>UN Story Builder</h1>
        </div>
        <p class="login-subtitle">Sign in to your account</p>

        <% if (typeof success_msg !== 'undefined' && success_msg.length > 0) { %>
        <div class="flash-messages">
            <% success_msg.forEach(msg => { %>
            <div class="flash flash-success"><%= msg %></div>
            <% }) %>
        </div>
        <% } %>
        <% if (typeof error_msg !== 'undefined' && error_msg.length > 0) { %>
        <div class="flash-messages">
            <% error_msg.forEach(msg => { %>
            <div class="flash flash-error"><%= msg %></div>
            <% }) %>
        </div>
        <% } %>
        <% if (typeof error !== 'undefined' && error.length > 0) { %>
        <div class="flash-messages">
            <% error.forEach(msg => { %>
            <div class="flash flash-error"><%= msg %></div>
            <% }) %>
        </div>
        <% } %>

        <form method="POST" action="/auth/login">
            <input type="hidden" name="_csrf_token" value="<%= typeof csrfToken !== 'undefined' ? csrfToken : '' %>">
            <div class="form-row">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required autofocus>
            </div>
            <div class="form-row">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Sign in</button>
        </form>
        <a href="/auth/forgot-password" class="forgot-link">Forgot password?</a>
    </div>
</body>
</html>
