<% var _v = typeof value !== 'undefined' && value != null ? value : ''; %>
<div class="quill-field-group">
  <textarea name="<%= name %>" class="wysiwyg-source pd-md" hidden><%- _v %></textarea>
  <div class="quill-wrap"></div>
</div>
